@use 'sass:color';
@use 'sass:math';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

$outsideHeight: 125px;
$outsideWidth: 80px;
$insideSize: 85%;
$spacing: 5%;
$colorFond: #279527;
$colorWhite: #ffffff;
$colorBorderBlack: #000000;

@mixin flexGen($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin flexDem($justify, $align){
    display: flex;
    justify-content: $justify;
    align-items: $align;
}


borderCarte{
    border: $colorBorderBlack 1px solid;
    border-radius: 15px;
}

@for $i from 1 through 5{

    #app__#{$i}-carte{
    background: $colorWhite;
    position: absolute;
    top: 40px * $i;
    height: $outsideHeight;
    width: $outsideWidth;
    margin-left: $spacing;
    @include flexGen(column, center, center);
    align-content: space-between;
    //transform: rotate(math.random(360) * 1deg);
    @extend borderCarte;

  

    .first-carte__inside{
        background: $colorWhite;
        height: $insideSize;
        width: $insideSize;
        @extend borderCarte;
        display: flex;
        flex-direction: column;
        align-content: space-between;
    }

    .inside-container__top{
        @include flexDem(space-between, center);
        flex-grow: 1;
        padding:$spacing;
    }
    .inside-container__center{
        @include flexDem(center, center);
        font-size: 1.5rem;
        flex-grow: 2;
    }
    .inside-container__bottom{
        @include flexDem(space-between, center);
        flex-grow: 1;
        padding:$spacing;
    }
}
}